h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#arrivals_map {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#money_bar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

